@import 'style/_main.scss';

.taskBox{
    padding: 20px 10px;
    display: flex;
    align-items: baseline;
    box-shadow: $common_box_shadow;
    margin-bottom: 20px;
}

.checkbox{
    margin: 0 10px;
}

.task{
    width: $task_width;
}

.taskCompleted{
    width: $task_width;
    text-decoration: line-through;
}